
</div>
<div class="footer-padding"></div>
  <div class="footer">
   <!-- Linkdin -->
   <a
   class="btn btn-link btn-floating btn-lg text-dark m-1"
   href="https://www.linkedin.com/in/rahul-keshri-814bb8221/"
   role="button"
   data-mdb-ripple-color="dark"
   ><i class="fa-brands fa-linkedin"></i
 ></a>
    <p>Made with ❤️ by Rahul Keshri</p>
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.facebook.com/rahul.keshri.5011?mibextid=ZbWKwL"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-facebook-f"></i
      ></a>
  </div>
</div>
</body>
</html>
