<%-include("partails/header")-%>
<h1  style="color: blueviolet;" >About</h1>
<p><%= aboutPage %></p>


       <div class=" space">
        <h1 style="color: blueviolet;" >EJS</h1>
         
         <p class="text-secondary">For simple data interpolation and testing purposes, one way to do this is by concatenating HTML strings with data or using the template strings in JavaScript. But if you want to write applications with significant HTML code and dynamic content, you are better off using tools that are designed for that purpose, like template engines.</p>
         <p><mark>EJS (Embedded JavaScript Templating) is one of the most popular template engines for JavaScript. As the name suggests, it lets us embed JavaScript code in a template language that is then used to generate HTML.</mark></p>
      
</div>
<%-include("partails/footer")-%>