<%-include("partails/header") -%>
<h1  style="color: blueviolet;">Rahul Keshri</h1>
<div>
    <p class="text-dark">I am <mark>MERN</mark>Stack Developer.Passionate about coding how to code efficiently with excellent problem solving skills and learning new skills ability to perform well with a team with Bachelor of Science.More Foucs on Development.</p>
</div>
<h4 style="color: blueviolet;">Rahul Keshri</h4>
<p>I am MERN Stack Developer </p>
<h4  style="color: blueviolet;">Key Skills</h4>
<ul>
    <li>
         HTML
    </li>
    <li>
        CSS
   </li>
   <li>
    JavaScript
</li>
<li>
    React
</li>
<li>
   Redux
</li>
<li>
    SQL
</li>
<li>
    MongoDB
</li>
<li>
    NodeJs
</li>
<li>
    ExpressJs
</li>    
</ul>
<h4 style="color: blueviolet;" > Familiar with Libraries</h4>
<ul>
    <li>BootStrap</li>
    <li>Tailwind Css</li>
    <li>Formik</li>
    <li>Jquery</li>
    <li>Mongoose</li>
    
</ul>

<h3 class="text-primary">This is simple Demo Website Using EJS Template Engine with Express JS</h3>
<%-include("partails/footer") -%>